body {
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  color: #494e52; }

a {
  text-decoration: none;
  color: #32859e; }
  a:visited {
    color: #5197ad; }
  a:hover {
    text-decoration: underline; }

.last-update,
.last-updated {
  font-size: 18px;
  color: #494e52; }

#show-headlines,
#show-snippets,
  cursor: pointer; }

div.section,
div.header,
div.item {
  margin: 0;
  padding: 0; }

hr.item-separator,
hr.filler {
  border: none;
  background-color: #fff;
  color: #fff;
  height: 1px; }

.item {
  font-size: 18px; }
  .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item b {
    font-size: 18px; }
  .item p, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6 {
    margin: 2px 0px 2px 0px;
    padding: 0; }
  .item ul, .item ol {
    margin: 2px 0px 2px 0px; }
  .item b, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6 {
    font-weight: normal; }
  .item .item-content,
  .item .item-summary {
    display: none; }
  .item .item-footer {
    font-size: 18px;
    color: #FF7E00; }

.item-title {
  font-size: 22px;
  font-weight: bold; }

.feed-title {
  font-size: 16px;
  font-weight: bold;
 }

.item-published {
  font-size: 18px;
  color: #FF7E00; }

/* my additions */

.content {
  max-width: 960px;
  margin: auto;
}

.built-with {
  margin-bottom: 1rem;
  text-align: center;
  color
}

.footer {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f3f3;
  text-align: center;
}


/* css for the shiny buttons */
.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}

.btn:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}
.blue {
  color: #55acee;
  border: 2px #55acee solid;
}

.blue:hover {
  background-color: #55acee;
  color: #fff
}

.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}

.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}

.orange {
  color: #e67e22;
  border: 2px #e67e22 solid;
}

.orange:hover {
  color: #fff;
  background-color: #e67e22;
}

.yellow {
  color: #f1c40f;
  border: 2px #f1c40f solid;
}

.yellow:hover {
  color: #fff;
  background-color: #f1c40f;
}

.buttons {
  padding-top: 30px;
  text-align: center;
}
