body {
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  color: #494e52; }

a {
  text-decoration: none;
  color: #32859e; }
  a:visited {
    color: #5197ad; }
  a:hover {
    text-decoration: underline; }

.last-update,
.last-updated {
  font-size: 18px;
  color: #494e52; }

#show-headlines,
#show-snippets,
  cursor: pointer; }

div.section,
div.header,
div.item {
  margin: 0;
  padding: 0; }

hr.item-separator,
hr.filler {
  border: none;
  background-color: #fff;
  color: #fff;
  height: 1px; }

.item {
  font-size: 16px; }
  .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item b {
    font-size: 18px; }
  .item p, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6 {
    margin: 2px 0px 2px 0px;
    padding: 0; }
  .item ul, .item ol {
    margin: 2px 0px 2px 0px; }
  .item b, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6 {
    font-weight: normal; }
  .item .item-content,
  .item .item-summary {
    display: none; }
  .item .item-footer {
    font-size: 18px;
    color: #FF7E00; }

.item-title {
  font-size: 22px;
  font-weight: bold; }

.feed-title {
  font-size: 16px;
  font-weight: bold;
 }

.item-published {
  font-size: 18px;
  color: #FF7E00; }

/* my additions */

.content {
  max-width: 960px;
  margin: auto;
}

.built-with {
  margin-bottom: 1rem;
  text-align: center;
  color
}

.footer {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f3f3;
  text-align: center;
}


